<div class="modal fade" id="apply_time">
	<div class="modal-dialog">
		<form class="form-horizontal" role="form" action="pass_time" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Move time forward</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="value" class="col-sm-2 control-label">Time</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="value" id="value" placeholder="Number of time units...">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Progress!</button>
				</div>
			</div><!-- /.modal-content -->
		</form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
